body {
    padding: 10%;
    position: relative;
}

header {
    position: absolute;
    top: 0px;
    left:  0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-family: 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
    color: #000;
}

header #tagline {
    font-weight: normal;
    font-style: oblique;
}

#top {
    margin-bottom: 20px;
}

#navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom 0;
    height: 100%;
    padding: 20% 3%;
}

#navbar ul{
    margin: auto;
    text-align: center;
    padding: 15%;
}

#navbar a{ 
    color: #B7C3D0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Raleway', Helvetica, serif;
}

#navbar a:hover{
    color: #F0F0F0;
}

article {
    margin: 5% auto;
}

article header{
    font-family: Palatino,'Book Antiqua', Georgia, serif;
    color: #333333;
    position: static;
    margin-bottom: 15px;
}

article .body {
    text-align: center;
    font-family: Palatino,'Book Antiqua', Georgia, serif;
    color: #000;
}